.nav {
  position: sticky;
  top: 0;
  z-index: 100;
}


.nav__table {
  width: 100%;
}
.nav__table__row {
  vertical-align: center;
}

.nav__item {

}
.nav__item--right {
  display: inline-flex;
  float: right;
  text-align: right;
}