@import 'muicss/lib/sass/mui';

//.App {
//  //text-align: center;
//  background: #E0E5EC;
//}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


//.app--container {
//  display: flex;
//  flex-flow: column;
//  height: 100%;
//}
//.app--grid {
//  display: grid;
//  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
//  grid-template-rows: auto auto;
//  flex-grow: 1;
//  overflow-y: auto;
//
//}
.app--nav {
  display: flex;
  flex-direction: row;
  list-style-type:none;
  align-items: center;
}
.component {
  display: grid;
  grid-template-columns: 300px auto;
  //grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-template-rows: auto;
}
.component__list {
  grid-row: 1;
  grid-column: 1/end;
  overflow-y: auto;
  margin: 0 10px;
}

.component__list--sidebar {
  @extend .component__list;
  grid-column: 1;
}

.component__item {
  grid-row: 1;
  grid-column: 2;
}

a {
  &.active {
      @extend .mui-btn--dark;
  }
}

.item_page {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
}
.item_page__controls {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.item_page_controls__item {
  grid-column: 1;
  align-self: center;
}

.item_page__controls__item--right {
  @extend .item_page_controls__item;
  grid-column: end;
}

.item_page__item {
  grid-row: 2;
}