.tournament-item--tournament-player-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournament-item--tournament-player-list--item {
  display: inline-flex;
}

.scoreboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.scoreboard__game {
  text-align-last: center;
}